html, body {
  height: auto;
  margin: 0;
  background-color: rgb(243, 243, 243);
  font-size: 20px;
}

.app-wrapper {
  display: grid;

  grid-template-rows: 0.1fr 2fr;
  grid-template-columns: 1fr 3fr;

  grid-template-areas: 
  'h h'
  'n c';

  height: 100%;
}

.nav {
  grid-area: n;
  width: 30%;
  margin: 0 auto;
  text-align: left;
  /* background-color: rgb(255, 255, 255); */
}

.header {
  grid-area: h;
  box-shadow: 10px 5px 10px 0.5px rgb(197, 197, 197);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.content {
  grid-area: c;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 70%;
  height: auto;
}

